<div class="container-fluid p-h-0 p-v-20 h-100 bg">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="d-none d-md-flex p-h-40">
      <a routerLink="/">
        <img class="logo-box" src="assets/images/logo2.png" alt="logo"
      /></a>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <nz-card class="m-b-100 shadow-lg">
            <div
              class="
                d-flex
                flex-column
                align-items-center
                justify-content-between
                m-b-15
              "
            >
              <h2 class="m-b-10">Find Your Account</h2>
              <p>
                Please enter your email or mobile number to search for your
                account.
              </p>
            </div>
            <form
              nz-form
              [formGroup]="loginForm"
              nzLayout="vertical"
              class="login-form"
              (ngSubmit)="submitForm()"
            >
              <nz-form-item>
                <nz-form-label nzRequired nzFor="userName"
                  >Email or Phone</nz-form-label
                >
                <nz-form-control nzErrorTip="Please input your username!">
                  <input
                    type="text"
                    nz-input
                    formControlName="emailorphone"
                    placeholder="Email or Phone"
                  />
                </nz-form-control>
                <nz-form-explain
                  *ngIf="
                    loginForm.get('emailorphone').touched &&
                    loginForm.get('emailorphone').errors
                  "
                  >Please Enter your username or phone valid!</nz-form-explain
                >
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <div class="d-flex justify-content-end">
                    <button
                      nz-button
                      class="login-form-button"
                      [nzType]="'primary'"
                    >
                      Sign In
                    </button>
                    <button
                      nz-button
                      class="login-form-button m-l-10"
                      [nzType]="'secondry'"
                    >
                      Cancel
                    </button>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
          </nz-card>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">© 2019 ThemeNate</span>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="text-dark text-link" href="">Legal</a>
        </li>
        <li class="list-inline-item">
          <a class="text-dark text-link" href="">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
