<nz-card>
<div
class="d-flex flex-column align-items-center justify-content-center"
>
<div class="d-flex align-items-center justify-content-center">
  <nz-avatar
    nzIcon="user"
    [nzSize]="100"
    [nzSrc]="profile.picture"
  ></nz-avatar>
  <div
    class="
      d-flex
      flex-column flex-items-center flex-justify-center
      fles-warp
      m-l-10
    "
  >
    <h4 class="m-t-5">{{ user.name }}</h4>
    <span class="text-gray">Developer</span>
  </div>
</div>
<hr />
<div class="d-flex justify-content-start align-items-start">
  <h5>Team Members</h5>
</div>
<div>
  <div class="avatar-text m-l-5">
    <a
      nz-tooltip
      [nzTooltipTitle]="item.name"
      *ngFor="let item of memberList"
    >
      <nz-avatar
        class="avatar"
        [nzSize]="35"
        [nzSrc]="item.img"
        nzIcon="user"
      ></nz-avatar>
    </a>
    <a nz-tooltip nzTooltipTitle="Add Member">
      <nz-avatar
        class="avatar"
        [nzSize]="35"
        nzIcon="plus"
      ></nz-avatar>
    </a>
  </div>
</div>
</div>
</nz-card>