<nz-card *ngFor="let dat of dates">
<div class="row " >
   
    <div class="col-md-6">
        <span class="font-weight-semibold m-r-50  m-b-5 text-dark">start_date: </span>
        <span>{{dat.start_date}}</span>
    </div>
    <div class="col-md-6">
        <span class="font-weight-semibold m-r-30 m-b-5 m-l-30 text-dark justify-content-lef">valid_to: </span>
        <span>{{dat.valid_to}}</span>
    </div>

</div>
<div class="row">

    <div class="col-md-6 m-t-20">
        <span class="font-weight-semibold m-r-10 m-b-5  text-dark">estimated_date: </span>
        <span>{{dat.estimated_date}}</span>
    </div>

    <div class="col-md-6 m-t-20">
        <span class="font-weight-semibold m-r-10 m-b-5 m-l-30 text-dark justify-content-le">actual_date: </span>
        <span>{{dat.actual_date}}</span>
    </div>
</div>
</nz-card>