<div class="container">
  <div class="container-fluid">
    <hr />
    <div class="row">
      <div class="col-md-3" *ngFor="let item of projects">
        <nz-card id="myUL">
          <div class="d-flex justify-content-between">
            <div class="media">
              <a href="{{ '/WorkSpace/projects/project-details' }}">
                <nz-avatar
                  [nzSize]="40"
                  nzShape="square"
                  [nzSrc]="item.avatar"
                ></nz-avatar
              ></a>
              <div class="m-l-10">
                <h5 class="m-b-0">{{ item.project }}</h5>
                <span class="text-muted font-size-13"
                  >{{ item.tasks }} Tasks</span
                >
              </div>
            </div>
          </div>
          <p class="m-t-25">{{ item.desc }}</p>
          <div class="m-t-30">
            <div class="d-flex justify-content-between">
              <span class="font-weight-semibold">Progress</span>
              <span class="font-weight-semibold">{{ item.progress }}%</span>
            </div>
            <nz-progress
              *ngIf="item.status !== 'Behind'"
              [nzPercent]="item.progress"
              [nzShowInfo]="false"
              nzSize="small"
            ></nz-progress>
            <nz-progress
              *ngIf="item.status == 'Behind'"
              [nzPercent]="item.progress"
              [nzShowInfo]="false"
              nzSize="small"
              nzStatus="exception"
            ></nz-progress>
          </div>
          <div class="m-t-20">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <nz-tag
                  class="m-b-0"
                  *ngIf="item.status == 'In Progress'"
                  [nzColor]="'blue'"
                  >{{ item.status }}</nz-tag
                >
                <nz-tag
                  class="m-b-0"
                  *ngIf="item.status == 'Ready'"
                  [nzColor]="'cyan'"
                  >{{ item.status }}</nz-tag
                >
                <nz-tag
                  class="m-b-0"
                  *ngIf="item.status == 'Behind'"
                  [nzColor]="'red'"
                  >{{ item.status }}</nz-tag
                >
              </div>
              <div>
                <a
                  routerLinkActive="router-link-active"
                  class="m-r-5"
                  *ngFor="
                    let item of item.member ? item.member.slice(0, 2) : []
                  "
                >
                  <nz-avatar
                    nzSize="small"
                    [nzSrc]="item.avatar"
                    nz-tooltip
                    [nzTooltipTitle]="item.name"
                  ></nz-avatar>
                </a>
                <a *ngIf="item.member.length > 2">
                  <nz-avatar
                    class="font-size-11 text-dark"
                    nzSize="small"
                    [nzText]="'+' + [item.member.length - 2].toString()"
                    nz-tooltip
                    [nzTooltipTitle]="
                      [item.member.length - 2].toString() + ' More'
                    "
                  ></nz-avatar>
                </a>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>
