<nz-card
  nzTitle="Project List"
  [nzLoading]="isLoaded"
  [nzExtra]="extraTemplate"
>
  <nz-empty *ngIf="!projectList[0] && !error && !isLoaded"></nz-empty>
  <div *ngIf="projectList[0] && !error && !isLoaded">
    <nz-table
      #projectsTable
      [nzData]="projectList"
      [nzShowPagination]="false"
      class="no-border-last"
    >
      <thead>
        <tr>
          <th>Project</th>
          <th>Tasks</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of projectsTable.data; let index = index">
          <td *ngIf="index < i">
            <div class="d-flex align-items-center">
              <nz-avatar
                nzShape="square"
                nzIcon="picture"
                [nzSrc]="item.avatar"
              ></nz-avatar>
              <span class="item-project-title">{{ item.project }}</span>
            </div>
          </td>
          <td *ngIf="index < i" class="center-text">{{ item.tasks }}</td>
          <td *ngIf="index < i">
            <div class="center-text">
              <nz-tag
                class="m-b-0"
                *ngIf="item.status == 'In Progress'"
                [nzColor]="'blue'"
              >
                {{ item.status }}</nz-tag
              >
              <nz-tag
                class="m-b-0"
                *ngIf="item.status == 'Ready'"
                [nzColor]="'cyan'"
              >
                {{ item.status }}</nz-tag
              >
              <nz-tag
                class="m-b-0"
                *ngIf="item.status == 'Behind'"
                [nzColor]="'red'"
              >
                {{ item.status }}</nz-tag
              >
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #extraTemplate>
    <a
      class="m-r-5 show-more"
      nz-button
      nzType="default"
      nzShape="circle"
      nz-tooltip
      nzTooltipTitle="View More"
      (click)="i = projectList.length"
      *ngIf="i < projectList.length"
    >
      <i nz-icon nzType="down" nzTheme="outline"></i>
    </a>
    <a
      class="m-r-5 show-more"
      nz-button
      nzType="default"
      nzShape="circle"
      nz-tooltip
      nzTooltipTitle="Hidden"
      (click)="i = 2"
      *ngIf="i === projectList.length"
    >
      <i nz-icon nzType="up" nzTheme="outline"></i>
    </a>
  </ng-template>
</nz-card>
